html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size:11px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

a{
    color:hsl(228, 45%, 44%); ;
}

h1{
    color: white;
    font-size:30px;

}
h2{
   color: hsl(241, 100%, 89%);
   font-size: 20px;
   
}
p{  
    color: hsl(241, 100%, 89%);
    padding:0 20px 0 15px;
    font-size:18px;
}
.numero-menor-esquerdo{
    padding: 20px;
    color: white;
    opacity: 0.5;
    font-size: 15px;
    

}
.numero-esquerdo{
    font-size: 70px;
    color: white;
    
    
}

.numeros-esquerdo{
    margin-left: 70px;
    width: 170px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)
    );
    padding-top: 25px;
    position: static;

}

#campo-esquerdo{
   width:300px;
   height: 400px;
   padding: 10px;
   border-radius: 20px;
   background-image:linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
   position: relative;
   z-index: 1;
}

#campo-direito{
   width:330px;
   height: 400px;
   margin-left: -30px;
   padding: 10px;
   background-color: white;
   position: relative;
   border-radius: 20px;
   z-index: 0;
   
   
   
   

}

.summary{
    color: hsl(224, 30%, 27%);
    text-align: right;
    margin-left:60px ;
    margin-bottom: 15px;
    float: left;
}

.Reaction{
    background-color:  hsl(0, 100%, 98%);
    width: 230px;
    margin: 5px 20px 0px;
    padding: 12px;
    float: right;
    font-size: 18px;
    border-radius: 10px;
    
}
.Reaction span.nome{
    color: hsl(0, 100%, 67%);
}

.numero1{
   color: hsl(224, 30%, 27%);
}

.numero2{
    color: hsl(241, 100%, 89%);
}

.Memory{
    background-color:hsl(39, 94%, 88%);
    width: 230px;
    margin: 10px 20px;
    padding: 12px;
    float: right;
    font-size: 18px;
    border-radius: 10px;
    
}

.Memory span.nome{
    color:  hsl(39, 100%, 56%);
}

.Verbal{
    background-color:  hsl(165, 38%, 94%) ;
    width: 230px;
    margin: 2px 20px;
    padding: 12px;
    float: right;
    font-size: 18px;
    border-radius: 10px;
}

.Verbal span.nome{
    color:  hsl(166, 100%, 37%);

}

.Visual{
    background-color:hsl(240, 23%, 94%);
    width: 230px;
    margin: 7px 20px;
    padding: 12px;
    float: right;
    font-size: 18px;
    border-radius: 10px;
}

.Visual span.nome{
    color: hsl(234, 85%, 45%);
}

a{
    background-color:hsl(224, 30%, 27%);
    color: white;
    text-decoration:none;
    width: 230px;
    margin: 40px 20px;
    padding: 12px;
    float: right;
    font-size: 18px;
    border-radius: 20px;

}

.icon{
    float: left;
    padding-top:2px ;
}





/*--<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style>*/
